*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --bg-color: #f7f7f7;
    --text-color: #393e46;
    --text-hover-color: #474e57;

    --primary-color: #063d69;

    --secondary-color: #5c636e;
    --secondary-hover-color: #7c8894;

    --nav-text-color: #d3d3d3;
    --nav-text-hover-color: #f5cd68;


    --success-color: #2bb427;

    --error-color: #ce2147;

    --action-color: #f8b500;
}