<div class="footer">
    <div class="footer-socials">
        <a href="https://github.com/andriidem308/"><i class="fa-brands fa-github"></i></a>
        <a href="https://www.linkedin.com/in/andriidem/"><i class="fa-brands fa-linkedin-in"></i></a>
        <a href="https://t.me/godfather"><i class="fa-brands fa-telegram"></i></a>
        <a href="mailto:andriidem308@gmail.com"><i class="fa-regular fa-envelope"></i></a>
        <a href="https://www.facebook.com/andriidem308"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://www.instagram.com/andriidem/"><i class="fa-brands fa-instagram"></i></a>
    </div>
</div>
