<div class="flex-container">
    <div class="logo"><a href="{% url 'home' %}">andriidem</a></div>
    <ul class="navigation">
        <li><a class="nav-link" id="nav-about">About</a></li>
        <li><a class="nav-link" id="nav-skills">Skills</a></li>
        <li><a class="nav-link" id="nav-work">Work</a></li>
        <li><a class="nav-link" id="nav-experience">Experience</a></li>
        <li><a class="nav-link" id="nav-contact">Contact</a></li>
    </ul>
    <div class="resume-button-container">
        <a href="/download_resume" download="CV_Andrii_Demchenko.pdf">
            <button class="resume-button">Resume</button>
        </a>
    </div>
</div>
