{% load static %}
<!doctype html>
<html lang="en">
<head>
    {#  ******************** TITLE & FAVICON ******************** #}
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{% static 'img/favicon/favicon.ico' %}">

    {#  ******************** META ******************** #}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {#  ******************** REMOTE STYLES ******************** #}
{#    <script src="https://kit.fontawesome.com/f514e78ecc.js" crossorigin="anonymous"></script>#}
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">

    {#  ******************** FONTS ******************** #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gabarito:wght@700&family=Inter&family=Leckerli+One&family=Spectral+SC:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fugaz+One&family=Pacifico&family=Short+Stack&family=Sniglet&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Short+Stack&display=swap" rel="stylesheet">

    {#  ******************** LOCAL STYLES ******************** #}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{#    <link rel="stylesheet" href="{% static 'css/old_style.css' %}">#}

</head>
<body>
    <header>
        {% include '_header.html' %}
    </header>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <aside>
{#        <div>aside</div>#}
    </aside>

    <footer>
        {% include '_footer.html' %}
    </footer>
<script src="{% static "js/theme-switcher.js" %}"></script>
<script src="{% static "js/mobile-navigation.js" %}"></script>
</body>
</html>