{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <section class="section main-section">
        <article>
            <h1>Hello! My name is Andrii Demchenko</h1>
            <h2>Hello! My name is Andrii Demchenko</h2>
            <h3>Hello! My name is Andrii Demchenko</h3>
            <h4>Hello! My name is Andrii Demchenko</h4>
            <h5>Hello! My name is Andrii Demchenko</h5>
            <h6>Hello! My name is Andrii Demchenko</h6>
            <a>Hello! My name is Andrii Demchenko</a>
            <p>Hello! My name is Andrii Demchenko</p>
            <span>Hello! My name is Andrii Demchenko</span>
        </article>
    </section>
{% endblock %}
