{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <section class="section main-section">
        <article>
            <p class="about-me-text">Hello! My name is</p>
            <p class="about-me-text">Andrii <span class="blue-border primary">Demchenko</span></p>
            <p class="about-me-text">I'm <span class="yellow-border blue">Python</span> Developer</p>
        </article>
    </section>
    <section class="section">
        <article>
            <p class="about-me-text">Hello! My name is</p>
            <p class="about-me-text">Andrii <span class="primary">Demchenko</span></p>
            <p class="about-me-text">I'm <span class="success">Python</span> Developer</p>
        </article>
    </section>
    <section class="section">
        <article>
            <p class="about-me-text">Hello! My name is</p>
            <p class="about-me-text">Andrii <span class="primary">Demchenko</span></p>
            <p class="about-me-text">I'm <span class="success">Python</span> Developer</p>
        </article>
    </section>
    <section class="section">
        <article>
            <p class="about-me-text">Hello! My name is</p>
            <p class="about-me-text">Andrii <span class="primary">Demchenko</span></p>
            <p class="about-me-text">I'm <span class="success">Python</span> Developer</p>
        </article>
    </section>
    <section class="section">
        <article>
            <p class="about-me-text">Hello! My name is</p>
            <p class="about-me-text">Andrii <span class="primary">Demchenko</span></p>
            <p class="about-me-text">I'm <span class="success">Python</span> Developer</p>
        </article>
    </section>
    <section class="section">
        <article>
            <p class="about-me-text">Hello! My name is</p>
            <p class="about-me-text">Andrii <span class="primary">Demchenko</span></p>
            <p class="about-me-text">I'm <span class="success">Python</span> Developer</p>
        </article>
    </section>
{% endblock %}
