{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <section class="section main-section" id="about">
        <article>
            <p class="about-me-text">Hello! My name is</p>
            <p class="about-me-text">Andrii <span class="orange-text white-border">Demchenko</span></p>
            <p class="about-me-text">I'm <span class="orange-text white-border">Python</span> Developer</p>
        </article>
    </section>
    <section class="section" id="skills">
        <article>
            <p class="about-me-text">Hello! My name is</p>
            <p class="about-me-text">Andrii <span class="primary">Demchenko</span></p>
            <p class="about-me-text">I'm <span class="success">Python</span> Developer</p>
        </article>
    </section>
    <section class="section" id="work">
        <article>
            <p class="about-me-text">Hello! My name is</p>
            <p class="about-me-text">Andrii <span class="primary">Demchenko</span></p>
            <p class="about-me-text">I'm <span class="success">Python</span> Developer</p>
        </article>
    </section>
    <section class="section" id="experience">
        <article>
            <p class="about-me-text">Hello! My name is</p>
            <p class="about-me-text">Andrii <span class="primary">Demchenko</span></p>
            <p class="about-me-text">I'm <span class="success">Python</span> Developer</p>
        </article>
    </section>
    <section class="section" id="contact">
        <article>
            <p class="about-me-text">Hello! My name is</p>
            <p class="about-me-text">Andrii <span class="primary">Demchenko</span></p>
            <p class="about-me-text">I'm <span class="success">Python</span> Developer</p>
        </article>
    </section>
{% endblock %}
